/* Large Devices*/
@media only screen and (max-width: 1200px) {
  .header .inner_header {
    padding: 0 15px;
  }
  .header .inner_header .heading .mnu > li > a {
    padding: 10px 10px;
  }
  .header .main_banner .exploration {
    padding-left: 15px;
  }
  .who .text {
    padding: 0 0 0 0;
    margin-left: 88px;
  }
  .promise .items {
    justify-content: space-around;
  }
  .categories .cards {
    padding: 0 60px;
  }
  .guides .text {
    text-align: center;
    margin: auto;
  }
  .guides .main_wrapper {
    justify-content: center;
  }
  .guides .main_wrapper .item {
    margin-bottom: 100px;
  }
  .footer {
    padding: 100px 15px;
  }
}
@media only screen and (max-width: 992px) {
  .header .inner_header .heading .buttons {
    display: none;
  }
  .serf .menu {
    right: 53px;
  }
  .magazine .text {
    padding: 0;
  }
  .footer .wrapper {
    flex-wrap: wrap;
    padding: 0 25px;
  }
}
@media only screen and (max-width: 768px) {
  .header .inner_header .heading .mnu {
    margin-left: 40px;
  }
  .header .container .inner_header .logo {
    margin-right: 75px;
  }
  .who .wrapper {
    flex-wrap: wrap;
  }
  .who .text {
    text-align: center;
    margin-left: 45px;
  }
  .promise .items .item {
    padding: 25px 25px;
  }
  .categories .cards .card {
    margin-bottom: 21px;
  }
  .serf .menu {
    display: none;
  }
  .shop .text {
    padding: 15px 15px;
  }
  .guides .text {
    margin: 0 15px;
  }
  .guides .main_wrapper .item .descr {
    text-align: center;
  }
  .guides .main_wrapper .user_wrapper {
    justify-content: space-around;
  }
  .magazine .wrapper {
    flex-wrap: wrap;
  }
  .magazine .text {
    text-align: center;
    padding-left: 45px;
  }
  .footer .wrapper .input {
    max-width: 386px;
  }
  .footer .wrapper ul {
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .header .container .inner_header .logo {
    display: none;
  }
  .header .inner_header .heading .mnu > li > a {
    padding: 3px 2px;
  }
  .who .text {
    margin: 10px 0 0 0;
  }
  .footer .wrapper .input {
    max-width: 211px;
  }
  .header .main_banner .exploration > h1 {
    padding: 0 50px 9px 0;
  }
  .subtitle {
    font-size: 11px;
  }
  .text {
    padding: 0 5px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 15px;
  }
  .button {
    padding: 6px 9px;
    font-size: 13px;
  }
  .descr {
    font-size: 11px;
  }
  .promise .items .item {
    max-width: 75%;
  }
  .promise {
    padding-bottom: 100px;
  }
  .categories .cards {
    padding: 0 5;
  }
  .arrow_button {
    font-size: 13px;
  }
  .arrow_button > img {
    max-width: 13%;
  }
  .categories .cards {
    padding: 0 5px;
  }
  .categories .cards .card {
    width: 300px;
    height: 370px;
  }
  .categories .cards .card > .descr {
    margin-bottom: 8px;
  }
  .serf {
    height: 400px;
  }
  .guides .main_wrapper .item {
    font-size: 0.8rem;
  }
  .guides .main_wrapper .item .descr {
    font-size: 16px;
  }
  .magazine .text {
    padding: 0 0;
  }
}