/*==========  Desktop First  ==========*/
/* Large Devices*/
.header .inner_header {
  padding: 0 15px;
}

.header .inner_header .heading .mnu > li > a {
  padding: 10px 10px;
}

.header .main_banner .exploration {
  padding-left: 15px;
}

.who .text {
  padding: 0 0 0 0;
  margin-left: 88px;
}

.promise .items {
  justify-content: space-around;
}

.categories .cards {
  padding: 0 60px;
}

.guides .text {
  text-align: center;
  margin: auto;
}

.guides .main_wrapper {
  justify-content: center;
}
.guides .main_wrapper .item {
  margin-bottom: 100px;
}

.footer {
  padding: 100px 15px;
}

/* Medium Devices, Desktops */
.header .inner_header .heading .buttons {
  display: none;
}

.serf .menu {
  right: 53px;
}

.magazine .text {
  padding: 0;
}

.footer .wrapper {
  flex-wrap: wrap;
  padding: 0 25px;
}

.header .inner_header .heading .mnu {
  margin-left: 40px;
}

.header .container .inner_header .logo {
  margin-right: 75px;
}

.who .wrapper {
  flex-wrap: wrap;
}

.who .text {
  text-align: center;
  margin-left: 45px;
}

.promise .items .item {
  padding: 25px 25px;
}

.categories .cards .card {
  margin-bottom: 21px;
}

.serf .menu {
  display: none;
}

.shop .text {
  padding: 15px 15px;
}

.guides .text {
  margin: 0 15px;
}

.guides .main_wrapper .item .descr {
  text-align: center;
}

.guides .main_wrapper .user_wrapper {
  justify-content: space-around;
}

.magazine .wrapper {
  flex-wrap: wrap;
}

.magazine .text {
  text-align: center;
  padding-left: 45px;
}

.footer .wrapper .input {
  max-width: 386px;
}

.footer .wrapper ul {
  padding-right: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 480px) {
  /**/
}
/* Custom, iPhone Retina */